.sdmenu {
    width: 175px;
    font-family: Sans-Serif;
    font-size: 12px;
    padding-bottom: 10px;
    background: #a6a6a6 no-repeat  right bottom;
    color: #FFF;
}
.sdmenu .title, .sdmenu .titlehidden{
   display: block;
    padding: 5px 0;
    font-weight: bold;
	border-bottom: 0px;
  /*  color: white;
    background: #FFF url(title.gif) repeat-x;
	*/
	 background-color : #082749;
	border : 1px solid #a6a6a6; 
	font-family: Verdana, Arial, Helvetica, sans-serif;  
	color : #ffffff;
}

.sdmenu .title {
    border-bottom: 1px solid #a6a6a6;
}

.sdmenu .arrow {
		margin-left: 10px;
    margin-right: 7px;
}

.sdmenu .titlehidden {
    border-bottom: none;
}

.sdmenu .submenu {
    overflow: hidden;
}

.sdmenu .submenu a {
    padding: 5px 0;
    text-indent: 10px;
    background: #EEE;
    display: block;
    border-bottom: 1px solid #DDD;
  /*  color: #066; */
    text-decoration: none;
/* After This all hax happends */
border : 1px solid #a6a6a6; 
background-color : #525252;
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size : 10px; 
border-top-width: 0; 
border-bottom-width: 0;
color : #ffffff;

}

.sdmenu .submenu a:hover {
    background : #066 url(linkarrow.gif) no-repeat right center;
    color: #FFF;
}
