/***** DICE *****   */
    #status_area{
	position: relative;
	right: 8px;
	border: 2px solid black;
	background-color: #192614;
	color:white;
	font-size: .9em;
	padding: 3px;
	width:100%;

}
.status_area {
	position: relative;
	right: 8px;
	border: 2px solid black;
	background-color: #192614;
	font-size: .9em;
	padding: 3px;
	width:100%;
}
.dice_area {
	position: absolute;
	top: 50px;
	left: 170px;
	padding: 5px;
	border: 2px solid #000000;
	width: 135px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: medium;
	font-weight: bold;
	background-color: #192614;
	z-index: 3;
}

#dice_roll_d { 
	width:20px;
   	height:20px;
   	background-color: #fff;
   	color:black;
   	border:1px solid black;
   	text-align:center;
   	vertical-align: middle;
}
    
#dice_roll_a { 
	width:20px;
   	height:20px;
   	background-color: red;
   	color: black;
   	border:1px solid black;
   	text-align:center;
   	vertical-align: middle;
}

.map {
	/*position: absolute;*/
	position:relative; 
	color: #000000;
	margin: 0 auto 0 auto;
    padding:0;
	width: 878px;
	height: 602px;
	z-index: 0;
}
.map li {
    display:block;
    width:55px;
    height:38px;
    position: absolute;
    margin:0;
    padding:0;
}
.map li a {
    position:absolute;
    top:0;left:0;
    width:55px; 
    height:38px;
    margin:0;
    padding:0;
    display:block;
}

.colorbar{
	position: relative;
	top: 25px;
	left: 0px;
}
.colorbox{
	position: relative;
	left: 12px;
	width: 100px;
	height: 20px;
	border: 1px solid #000000;
	color: black;
	font-weight: 600;
}


/*(the army counts)*/
.map li a p{
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bolder;
	text-align: center;
    padding:0 2px 0 2px;
    margin:0;
	height: 12px;
	border: 1px solid black;
    color:black;
	left: 27px;
	bottom: -3px;
    z-index:4;
}

/*individual country positions*/
#Morocco{
top: 295px;
left: 60px;
}

#Algeria{
top: 270px;
left: 160px;
}

#Mauratania{
top: 345px;
left: 75px;
}

#Mali{
top: 375px;
left: 135px;
}

#Guinea{
top: 420px;
left: 45px;
}

#Ghana{
top: 430px;
left: 140px;
}

#Tunisia{
top: 285px;
left: 235px;
}

#Nigeria{
top: 460px;
left: 190px;
}

#Niger{
top: 370px;
left: 220px;
}

#Libya{
top: 305px;
left: 295px;
}

#Chad{
top: 415px;
left: 275px;
}

#Cameroon{
top: 460px;
left: 300px;
}

#Congo{
top: 510px;
left: 240px;
}

#Uganda{
top: 520px;
left: 310px;
}

#Kenya{
top: 520px;
left: 415px;
}

#Somalia{
top: 445px;
left: 495px;
}

#Ethiopa{
top: 425px;
left: 425px;
}

#Sudan{
top: 390px;
left: 350px;
}

#Egypt{
top: 300px;
left: 355px;
}

#SaudiArabia{
top: 215px;
left: 430px;
}

#Turkey{
top: 140px;
left: 425px;
}

#Iran{
top: 170px;
left: 510px;
}

#Jordan{
top: 160px;
left: 590px;
}

#Syria{
top: 220px;
left: 605px;
}

#Pakistan{
top: 280px;
left: 635px;
}

#India{
top: 320px;
left: 680px;
}

#China{
top: 220px;
left: 740px;
}

#Mongolia{
top: 145px;
left: 780px;
}

#Kazakhstan{
top: 110px;
left: 680px;
}

#Russia{
top: 20px;
left: 670px;
}

#Latvia{
top: 45px;
left: 600px;
}

#Ukraine{
top: 80px;
left: 530px;
}

#Poland{
top: 90px;
left: 470px;
}

#Estonia{
top: 30px;
left: 470px;
}

#Finland{
top: 15px;
left: 330px;
}

#Sweden{
top: 50px;
left: 245px;
}

#Norway{
top: 60px;
left: 210px;
}

#Austria{
top: 145px;
left: 360px;
}

#Germany{
top: 130px;
left: 270px;
}

#Serbia{
top: 165px;
left: 315px;
}

#Greece{
top: 210px;
left: 295px;
}

#Croatia{
top: 175px;
left: 255px;
}

#Italy{
top: 215px;
left: 240px;
}

#Portugal{
top: 215px;
left: 90px;
}

#Spain{
top: 220px;
left: 125px;
}

#France{
top: 145px;
left: 215px;
}

#Belgium{
top: 100px;
left: 210px;
}

#UK{
top: 105px;
left: 135px;
}

#Iceland{
top: 25px;
left: 55px;
}

#Greenland{
top: 0px;
left: 5px;
}