.map {
	/*position: absolute;*/
	position:relative; 
	color: #000000;
	margin: 0 auto 0 auto;
    padding:0;
	width: 828px;
	height: 576px;
	z-index: 0;
}
.map li {
    display:block;
    background:transparent; 
    position: absolute;
    margin:0;
    padding:0;
}

/*(the army counts)*/
.map a {
	display:block;
    position:absolute;
    margin:0;
    padding:0;
    top:0;
    left:0;
    width:55px;
    height:38px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bolder;
	text-align: center;
    padding:0 2px 0 2px;
    color:black;
}

/*individual country positions*/
#NewGuinea {
top: 375px;
left: 710px;
}
#WesternAustralia {
top: 430px;
left: 615px;
}
#EasternAustralia {
top: 440px;
left: 690px;
}
#Indonesia {
top: 365px;
left: 620px;
}
#Afghanistan {	
top: 225px;
left: 500px;
}
#Alaska {	
top: 120px;
left: 40px;
}
#Alberta{	
top: 155px;
left: 115px;
}
#Argentina{
top: 435px;
left: 185px;
}
#Brazil{
top: 355px;
left: 225px;
}
#CentralAmerica{
top: 260px;
left: 150px;
}
#China{
top: 238px;
left: 568px;
}
#Congo{
top: 385px;
left: 385px;
}
#EasternUS{
top: 215px;
left: 180px;
}
#EastAfrica{
top: 340px;
left: 415px;
}
#Egypt{
top: 285px;
left: 398px;
}
#GreatBritain{
top: 180px;
left: 330px;
}
#Greenland{
top: 75px;
left: 305px;
}
#Iceland{
top: 127px;
left: 327px;
}
#India{
top: 290px;
left: 525px;
}
#Irkutsk{
top: 167px;
left: 622px;
}
#Japan{
top: 220px;
left: 695px;
}
#Kamchatka{
top: 117px;
left: 735px;
}
#Madagascar{
top: 442px;
left: 450px;
}
#MiddleEast{
top: 267px;
left: 450px;
}
#Mongolia{
top: 205px;
left: 645px;
}
#NorthAfrica{
top: 305px;
left: 328px;
}
#NorthernEurope{
top: 188px;
left: 373px;
}
#NWTerritory{
top: 115px;
left: 130px;
}
#Oikiotoluk{
top: 95px;
left: 205px;
}
#Ontario{
top: 155px;
left: 180px;
}
#Peru{
top: 375px;
left: 165px;
}
#Quebec{
top: 160px;
left: 235px;
}
#Scandinavia{
top: 118px;
left: 385px;
}
#Siam{
top: 300px;
left: 600px;
}
#Siberia{
top: 130px;
left: 573px;
}
#SouthernEurope{
top: 227px;
left: 388px;
}
#SouthAfrica{
top: 445px;
left: 380px;
}
#Ural{
top: 148px;
left: 520px;
}
#Ukraine{
top: 160px;
left: 445px;
}
#Venezuela{
top: 310px;
left: 165px;
}
#WesternEurope{
top: 235px;
left: 327px;
}
#WesternUS{
top: 203px;
left: 127px;
}
#Yakutsk{
top: 108px;
left: 655px;
}
                  
