/***** DICE *****   */
    #status_area{
	position: relative;
	right: 8px;
	border: 2px solid black;
	background-color: #192614;
	color:white;
	font-size: .9em;
	padding: 3px;
	width:100%;

}
.status_area {
	position: relative;
	right: 8px;
	border: 2px solid black;
	background-color: #192614;
	font-size: .9em;
	padding: 3px;
	width:100%;
}
.dice_area {
	position: absolute;
	top: 3px;
	right: 3px;
	padding: 5px;
	border: 2px solid #000000;
	width: 135px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: medium;
	font-weight: bold;
	background-color: #192614;
	z-index: 3;
}

#dice_roll_d { 
	width:20px;
   	height:20px;
   	background-color: #fff;
   	color:black;
   	border:1px solid black;
   	text-align:center;
   	vertical-align: middle;
}
    
#dice_roll_a { 
	width:20px;
   	height:20px;
   	background-color: red;
   	color: black;
   	border:1px solid black;
   	text-align:center;
   	vertical-align: middle;
}

.map {
	/*position: absolute;*/
    background-repeat:no-repeat;
	position:relative; 
	color: #000000;
	margin: 0 auto 0 auto;
    padding:0;
	width: 828px;
	height: 576px;
	z-index: 0;
}
.map li {
    display:block;
    width:55px;
    height:38px;
    position: absolute;
    margin:0;
    padding:0;
}
.map li a {
    position:absolute;
    top:0;left:0;
    width:55px; 
    height:38px;
    margin:0;
    padding:0;
    display:block;
}
/*
.mapunits {
	position: relative;
	color: #000000;
	top: 0px;
	left: 0px; 
	width: 300px;
	height: 400px;
	z-index: 3;
}*/ 
.colorbar{
	position: relative;
	top: 25px;
	left: 0px;
}
.colorbox{
	position: relative;
	left: 12px;
	width: 100px;
	height: 20px;
	border: 1px solid #000000;
	color: black;
	font-weight: 600;
}


/*(the army counts)*/
.map li a p{
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bolder;
	text-align: center;
    padding:0 2px 0 2px;
    margin:0;
	height: 12px;
	border: 1px solid black;
    color:black;
	left: 27px;
	bottom: -3px;
    z-index:4;
}

/*individual country positions*/

/* GARNESIA (1) 1-8 */

#Britannia{      /* 1 */
top: 20px;
left: 44px;
}
#Lycia{         /* 2 */
top: 103px;
left: 22px;
}
#Hispania{      /* 3 */
top: 160px;
left: 75px;
}
#Galatia{      /* 4 */
top: 190px;
left: 220px;
}
#Caesariensis{      /* 5 */
top: 330px;
left: 45px;
}
#Tarroconesis{      /* 6 */
top: 280px;
left: 145px;
}
#AsiaMinor{      /* 7 */
top: 240px;
left: 270px;
}
#Gaul{         /* 8 */
top: 180px;
left: 340px;
}

/* HERADHEIM (2) 9-18 */

#Germania{      /* 9 */
top: 4px;
left: 138px;
}
#Alpina{      /* 10 */
top: 75px;
left: 65px;
}
#Bithynia{      /* 11 */
top: 7px;
left: 250px;
}
#Cappadocia{      /* 12 */
top: 70px;
left: 175px;
}
#Judaea{      /* 13 */
top: 110px;
left: 125px;
}
#Belgica{      /* 14 */
top: 30px;
left: 327px;
}
#Sarinatia{      /* 15 */
top: 75px;
left: 280px;
}
#Raetia{      /* 16 */
top: 125px;
left: 225px;
}
#Thule{         /* 17 */
top: 111px;
left: 293px;
}
#Crete{         /* 18 */
top: 130px;
left: 365px;
}

/* DARTEC (3) 19-26*/

#Noricum{      /* 19 */
top: 0px;
left: 519px;
}
#Illyricum{      /* 20 */
top: 30px;
left: 425px;
}
#Moesia{      /* 21 */
top: 125px;
left: 430px;
}
#Corsica{      /* 22 */
top: 185px;
left: 443px;
}
#Dacia{         /* 23 */
top: 2px;
left: 625px;
}
#Romagna{      /* 24 */
top:65px;
left: 548px;
}
#Macedonia{      /* 25 */
top: 145px;
left: 520px;
}
#Syria{         /* 26 */
top: 220px;
left: 500px;
}

/* Magretanion (4) 27-38 */

#Pannonia{      /* 27 */
top: 2px;
left: 745px;
}
#Apulia{      /* 28 */
top: 100px;
left: 625px;
}
#Calabria{      /* 29 */
top: 123px;
left: 745px;
}
#Gallia{      /* 30 */
top: 150px;
left: 575px;
}
#Molise{      /* 31 */
top: 195px;
left: 645px;
}
#Lusitania{      /* 32 */
top: 210px;
left: 708px;
}
#Pontus{      /* 33 */
top: 220px;
left: 570px;
}
#Mauretania{      /* 34 */
top: 295px;
left: 600px;
}
#Sicilia{      /* 35 */
top: 295px;
left: 745px;
}
#Sardinia{      /* 36 */
top: 360px;
left: 655px;
}
#Hibernia{      /* 37 */
top: 410px;
left: 745px;
}
#Tingitana{      /* 38 */
top: 490px;
left: 745px;
}

/* VENNIMAIR (5) 39-45 */

#Aquatania{      /* 39 */
top: 260px;
left: 405px;
}
#Narnonensis{      /* 40 */
top: 295px;
left: 485px;
}
#Epirus{      /* 41 */
top: 325px;
left: 300px;
}
#Baetica{      /* 42 */
top: 350px;
left: 225px;
}
#Pamphylia{      /* 43 */
top: 425px;
left: 85px;
}
#Cilicia{      /* 44 */
top: 520px;
left: 55px;
}
#Cyprisia{      /* 45 */
top: 531px;
left: 170px;
}

/* Hiranmair (6) 46-49 */

#Africia{      /* 46 */
top: 480px;
left: 480px;
}
#Thracia{      /* 47 */
top: 531px;
left: 548px;
}
#Egyptus{      /* 48 */
top: 490px;
left: 580px;
}
#Arabia{      /* 49 */
top: 510px;
left: 640px;
}