/**********************************************/
/** Admin CSS File by Arne-Christian Blystad **/
/**********************************************/
.a_logo { background-image: url(Images/logo-long.gif); border: 1px solid #a6a6a6; height: 100px; width: 800px; background-repeat:repeat-x; }
.a_inf { background-color: #FFFFFF; border: 1px solid #a6a6a6; width: 800px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color: #000000; }
.a_inf #b { color: #00CCCC; font-size: 14px; font-weight:bold; }
.a_item { 
    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
	border: 1px solid #a6a6a6;
    text-decoration: none;
	background-image: url(Images/item.gif);
    padding: 5px;
	width: 100px;
	border-top-width: 0;
 }
 
.a_item a:hover { color: #00CCCC; }
.a_menu { background-image: url(Images/menu.gif); border: 1px solid #a6a6a6; height: 58px; font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; width: 800px; }
.menu {
    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
	border-left: 1px solid #1b3858;
	border-right: 1px solid #1b3858;
    text-decoration: none;
	background-image:url(Images/menu.gif);
    padding: 5px;
}

.menu:hover {
    	background-image:url(Images/menu_hover.gif);
}

.toolbar {
    padding: 5px 0px 5px 0px;
	background-image:url(Images/menu.gif);
	border: 1px solid #a6a6a6;
	width: 800px;
}
.a_inf input {
	border: 1px solid #a6a6a6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.style1 {color: #000000}
.a_ranks {
	border: 1px solid #a6a6a6;
	background-color: #FFFFFF;
	border-top-width: 0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding-left: 10px;
	padding-right: 0px;
}