.searchform_top_text{
width:192px;
border:0px;
background:url(images/searchpart.gif) no-repeat;
color:#c4c4c4;
font-size:14px;
float:left;
margin:0 4px 0 0;
height:28px;
padding:6px 4px 0 4px;
}

.gamecloud {
width:830px;
float:right;
margin:10px 0 0 0;
}