.red .infantry1    {background-image:url("../images/units/2/infantry1_red.gif");}
.red .infantry2    {background-image:url("../images/units/2/infantry2_red.gif");}
.red .infantry3    {background-image:url("../images/units/2/infantry3_red.gif");}
.red .infantry4    {background-image:url("../images/units/2/infantry4_red.gif");}
.red .cavalry      {background-image:url("../images/units/2/cavalry_red.gif");}
.red .cannon       {background-image:url("../images/units/2/cannon_red.gif");}
.black .infantry1  {background-image:url("../images/units/2/infantry1_orange.gif");}
.black .infantry2  {background-image:url("../images/units/2/infantry2_orange.gif");}
.black .infantry3  {background-image:url("../images/units/2/infantry3_orange.gif");}
.black .infantry4  {background-image:url("../images/units/2/infantry4_orange.gif");}
.black .cavalry    {background-image:url("../images/units/2/cavalry_black.gif");}
.black .cannon     {background-image:url("../images/units/2/cannon_black.gif");}
.grey .infantry1   {background-image:url("../images/units/2/infantry1_white.gif");}
.grey .infantry2   {background-image:url("../images/units/2/infantry2_white.gif");}
.grey .infantry3   {background-image:url("../images/units/2/infantry3_white.gif");}
.grey .infantry4   {background-image:url("../images/units/2/infantry4_white.gif");}
.grey .cavalry     {background-image:url("../images/units/2/cavalry_grey.gif");}
.grey .cannon      {background-image:url("../images/units/2/cannon_grey.gif");}
.blue .infantry1   {background-image:url("../images/units/2/infantry1_pink.gif");}
.blue .infantry2   {background-image:url("../images/units/2/infantry2_pink.gif");}
.blue .infantry3   {background-image:url("../images/units/2/infantry3_pink.gif");}
.blue .infantry4   {background-image:url("../images/units/2/infantry4_pink.gif");}
.blue .cavalry     {background-image:url("../images/units/2/cavalry_pink.gif");}
.blue .cannon      {background-image:url("../images/units/2/cannon_pink.gif");}
.green .infantry1  {background-image:url("../images/units/2/infantry1_green.gif");}
.green .infantry2  {background-image:url("../images/units/2/infantry2_green.gif");}
.green .infantry3  {background-image:url("../images/units/2/infantry3_green.gif");}
.green .infantry4  {background-image:url("../images/units/2/infantry4_green.gif");}
.green .cavalry    {background-image:url("../images/units/2/cavalry_green.gif");}
.green .cannon     {background-image:url("../images/units/2/cannon_green.gif");}
.teal .infantry1   {background-image:url("../images/units/2/infantry1_teal.gif");}
.teal .infantry2   {background-image:url("../images/units/2/infantry2_teal.gif");}
.teal .infantry3   {background-image:url("../images/units/2/infantry3_teal.gif");}
.teal .infantry4   {background-image:url("../images/units/2/infantry4_teal.gif");}
.teal .cavalry     {background-image:url("../images/units/2/cavalry_teal.gif");}
.teal .cannon      {background-image:url("../images/units/2/cannon_teal.gif");}
.gold .infantry1   {background-image:url("../images/units/2/infantry1_gold.gif");}
.gold .infantry2   {background-image:url("../images/units/2/infantry2_gold.gif");}
.gold .infantry3   {background-image:url("../images/units/2/infantry3_gold.gif");}
.gold .infantry4   {background-image:url("../images/units/2/infantry4_gold.gif");}
.gold .cavalry     {background-image:url("../images/units/2/cavalry_gold.gif");}
.gold .cannon      {background-image:url("../images/units/2/cannon_gold.gif");}
.yellow .infantry1 {background-image:url("../images/units/2/infantry1_yellow.gif");}
.yellow .infantry2 {background-image:url("../images/units/2/infantry2_yellow.gif");}
.yellow .infantry3 {background-image:url("../images/units/2/infantry3_yellow.gif");}
.yellow .infantry4 {background-image:url("../images/units/2/infantry4_yellow.gif");}
.yellow .cavalry   {background-image:url("../images/units/2/cavalry_yellow.gif");}
.yellow .cannon    {background-image:url("../images/units/2/cannon_yellow.gif");}

/*backgrounds for the army counts*/
.red    a p{background-color: #CC3300;}
.black  a p{background-color: #888888;}
.grey   a p{background-color: #CCCCCC;}
.blue   a p{background-color: #6677FF;}
.green  a p{background-color: #00CC33;}
.teal   a p{background-color: #33CCCC;}
.gold   a p{background-color: #FFCC00;}
.yellow a p{background-color: #FFFF66;}     
