/*Special for admin*/
.brown .infantry1    {background-image:url("../images/units/3/infantry1_wood.gif");}
.brown .infantry2    {background-image:url("../images/units/3/infantry2_wood.gif");}
.brown .infantry3    {background-image:url("../images/units/3/infantry3_wood.gif");}
.brown .infantry4    {background-image:url("../images/units/3/infantry4_wood.gif");}
.brown .cavalry5     {background-image:url("../images/units/3/cavalry_wood.gif");}
.brown .cavalry6     {background-image:url("../images/units/3/cavalry6_wood.gif");}
.brown .cavalry7     {background-image:url("../images/units/3/cavalry7_wood.gif");}
.brown .cavalry8     {background-image:url("../images/units/3/cavalry8_wood.gif");}
.brown .cavalry9     {background-image:url("../images/units/3/cavalry9_wood.gif");}
.brown .cannon       {background-image:url("../images/units/3/cannon_wood.gif");}

/*backgrounds for the army counts*/
.brown   a p{background-color: #81573A;}  