.purple .infantry1    {background-image:url("../../images/units/1/infantry1_purple.gif"); background-repeat: no-repeat;}
.purple .infantry2    {background-image:url("../../images/units/1/infantry2_purple.gif"); background-repeat: no-repeat;}
.purple .infantry3    {background-image:url("../../images/units/1/infantry3_purple.gif"); background-repeat: no-repeat;}
.purple .infantry4    {background-image:url("../../images/units/1/infantry4_purple.gif"); background-repeat: no-repeat;}
.purple .cavalry5      {background-image:url("../../images/units/1/cavalry_purple.gif"); background-repeat: no-repeat;}
.purple .cavalry6     {background-image:url("../../images/units/1/cavalry_purple.gif"); background-repeat: no-repeat;}
.purple .cavalry7     {background-image:url("../../images/units/1/cavalry_purple.gif"); background-repeat: no-repeat;}
.purple .cavalry8     {background-image:url("../../images/units/1/cavalry_purple.gif"); background-repeat: no-repeat;}
.purple .cavalry9     {background-image:url("../../images/units/1/cavalry_purple.gif"); background-repeat: no-repeat;}
.purple .cannon       {background-image:url("../../images/units/1/cannon_purple.gif"); background-repeat: no-repeat;}
.red .infantry1    {background-image:url("../../images/units/1/infantry1_red.gif"); background-repeat: no-repeat;}
.red .infantry2    {background-image:url("../../images/units/1/infantry2_red.gif"); background-repeat: no-repeat;}
.red .infantry3    {background-image:url("../../images/units/1/infantry3_red.gif"); background-repeat: no-repeat;}
.red .infantry4    {background-image:url("../../images/units/1/infantry4_red.gif"); background-repeat: no-repeat;}
.red .cavalry5      {background-image:url("../../images/units/1/cavalry_red.gif"); background-repeat: no-repeat;}
.red .cavalry6     {background-image:url("../../images/units/1/cavalry_red.gif"); background-repeat: no-repeat;}
.red .cavalry7     {background-image:url("../../images/units/1/cavalry_red.gif"); background-repeat: no-repeat;}
.red .cavalry8     {background-image:url("../../images/units/1/cavalry_red.gif"); background-repeat: no-repeat;}
.red .cavalry9     {background-image:url("../../images/units/1/cavalry_red.gif"); background-repeat: no-repeat;}
.red .cannon       {background-image:url("../../images/units/1/cannon_red.gif"); background-repeat: no-repeat;}
.black .infantry1  {background-image:url("../../images/units/1/infantry1_black.gif"); background-repeat: no-repeat;}
.black .infantry2  {background-image:url("../../images/units/1/infantry2_black.gif"); background-repeat: no-repeat;}
.black .infantry3  {background-image:url("../../images/units/1/infantry3_black.gif"); background-repeat: no-repeat;}
.black .infantry4  {background-image:url("../../images/units/1/infantry4_black.gif"); background-repeat: no-repeat;}
.black .cavalry5    {background-image:url("../../images/units/1/cavalry_black.gif"); background-repeat: no-repeat;}
.black .cavalry6   {background-image:url("../../images/units/1/cavalry_black.gif"); background-repeat: no-repeat;}
.black .cavalry7   {background-image:url("../../images/units/1/cavalry_black.gif"); background-repeat: no-repeat;}
.black .cavalry8   {background-image:url("../../images/units/1/cavalry_black.gif"); background-repeat: no-repeat;}
.black .cavalry9   {background-image:url("../../images/units/1/cavalry_black.gif"); background-repeat: no-repeat;}
.black .cannon     {background-image:url("../../images/units/1/cannon_black.gif"); background-repeat: no-repeat;}
.grey .infantry1   {background-image:url("../../images/units/1/infantry1_grey.gif"); background-repeat: no-repeat;}
.grey .infantry2   {background-image:url("../../images/units/1/infantry2_grey.gif"); background-repeat: no-repeat;}
.grey .infantry3   {background-image:url("../../images/units/1/infantry3_grey.gif"); background-repeat: no-repeat;}
.grey .infantry4   {background-image:url("../../images/units/1/infantry4_grey.gif"); background-repeat: no-repeat;}
.grey .cavalry5     {background-image:url("../../images/units/1/cavalry_grey.gif"); background-repeat: no-repeat;}
.grey .cavalry6    {background-image:url("../../images/units/1/cavalry_grey.gif"); background-repeat: no-repeat;}
.grey .cavalry7    {background-image:url("../../images/units/1/cavalry_grey.gif"); background-repeat: no-repeat;}
.grey .cavalry8    {background-image:url("../../images/units/1/cavalry_grey.gif"); background-repeat: no-repeat;}
.grey .cavalry9    {background-image:url("../../images/units/1/cavalry_grey.gif"); background-repeat: no-repeat;}
.grey .cannon      {background-image:url("../../images/units/1/cannon_grey.gif"); background-repeat: no-repeat;}
.blue  .infantry1  {background-image:url("../../images/units/1/infantry1_blue.gif"); background-repeat: no-repeat;}
.blue .infantry2   {background-image:url("../../images/units/1/infantry2_blue.gif"); background-repeat: no-repeat;}
.blue .infantry3   {background-image:url("../../images/units/1/infantry3_blue.gif"); background-repeat: no-repeat;}
.blue .infantry4   {background-image:url("../../images/units/1/infantry4_blue.gif"); background-repeat: no-repeat;}
.blue .cavalry5     {background-image:url("../../images/units/1/cavalry_blue.gif"); background-repeat: no-repeat;}
.blue .cavalry6    {background-image:url("../../images/units/1/cavalry_blue.gif"); background-repeat: no-repeat;}
.blue .cavalry7    {background-image:url("../../images/units/1/cavalry_blue.gif"); background-repeat: no-repeat;}
.blue .cavalry8    {background-image:url("../../images/units/1/cavalry_blue.gif"); background-repeat: no-repeat;}
.blue .cavalry9    {background-image:url("../../images/units/1/cavalry_blue.gif"); background-repeat: no-repeat;}
.blue .cannon      {background-image:url("../../images/units/1/cannon_blue.gif"); background-repeat: no-repeat;}
.green .infantry1  {background-image:url("../../images/units/1/infantry1_green.gif"); background-repeat: no-repeat;}
.green .infantry2  {background-image:url("../../images/units/1/infantry2_green.gif"); background-repeat: no-repeat;}
.green .infantry3  {background-image:url("../../images/units/1/infantry3_green.gif"); background-repeat: no-repeat;}
.green .infantry4  {background-image:url("../../images/units/1/infantry4_green.gif"); background-repeat: no-repeat;}
.green .cavalry5    {background-image:url("../../images/units/1/cavalry_green.gif"); background-repeat: no-repeat;}
.green .cavalry6    {background-image:url("../../images/units/1/cavalry_green.gif"); background-repeat: no-repeat;}
.green .cavalry7    {background-image:url("../../images/units/1/cavalry_green.gif"); background-repeat: no-repeat;}
.green .cavalry8    {background-image:url("../../images/units/1/cavalry_green.gif"); background-repeat: no-repeat;}
.green .cavalry9    {background-image:url("../../images/units/1/cavalry_green.gif"); background-repeat: no-repeat;}
.green .cannon     {background-image:url("../../images/units/1/cannon_green.gif"); background-repeat: no-repeat;}
.teal .infantry1   {background-image:url("../../images/units/1/infantry1_teal.gif"); background-repeat: no-repeat;}
.teal .infantry2   {background-image:url("../../images/units/1/infantry2_teal.gif"); background-repeat: no-repeat;}
.teal .infantry3   {background-image:url("../../images/units/1/infantry3_teal.gif"); background-repeat: no-repeat;}
.teal .infantry4   {background-image:url("../../images/units/1/infantry4_teal.gif"); background-repeat: no-repeat;}
.teal .cavalry5     {background-image:url("../../images/units/1/cavalry_teal.gif"); background-repeat: no-repeat;}
.teal .cavalry6    {background-image:url("../../images/units/1/cavalry_teal.gif"); background-repeat: no-repeat;}
.teal .cavalry7    {background-image:url("../../images/units/1/cavalry_teal.gif"); background-repeat: no-repeat;}
.teal .cavalry8    {background-image:url("../../images/units/1/cavalry_teal.gif"); background-repeat: no-repeat;}
.teal .cavalry9    {background-image:url("../../images/units/1/cavalry_teal.gif"); background-repeat: no-repeat;}
.teal .cannon      {background-image:url("../../images/units/1/cannon_teal.gif"); background-repeat: no-repeat;}
.gold .infantry1   {background-image:url("../../images/units/1/infantry1_gold.gif"); background-repeat: no-repeat;}
.gold .infantry2   {background-image:url("../../images/units/1/infantry2_gold.gif"); background-repeat: no-repeat;}
.gold .infantry3   {background-image:url("../../images/units/1/infantry3_gold.gif"); background-repeat: no-repeat;}
.gold .infantry4   {background-image:url("../../images/units/1/infantry4_gold.gif"); background-repeat: no-repeat;}
.gold .cavalry5     {background-image:url("../../images/units/1/cavalry_gold.gif"); background-repeat: no-repeat;}
.gold .cavalry6    {background-image:url("../../images/units/1/cavalry_gold.gif"); background-repeat: no-repeat;}
.gold .cavalry7    {background-image:url("../../images/units/1/cavalry_gold.gif"); background-repeat: no-repeat;}
.gold .cavalry8    {background-image:url("../../images/units/1/cavalry_gold.gif"); background-repeat: no-repeat;}
.gold .cavalry9    {background-image:url("../../images/units/1/cavalry_gold.gif"); background-repeat: no-repeat;}
.gold .cannon      {background-image:url("../../images/units/1/cannon_gold.gif"); background-repeat: no-repeat;}
.yellow .infantry1 {background-image:url("../../images/units/1/infantry1_yellow.gif"); background-repeat: no-repeat;}
.yellow .infantry2 {background-image:url("../../images/units/1/infantry2_yellow.gif"); background-repeat: no-repeat;}
.yellow .infantry3 {background-image:url("../../images/units/1/infantry3_yellow.gif"); background-repeat: no-repeat;}
.yellow .infantry4 {background-image:url("../../images/units/1/infantry4_yellow.gif"); background-repeat: no-repeat;}
.yellow .cavalry5  {background-image:url("../../images/units/1/cavalry_yellow.gif"); background-repeat: no-repeat;}
.yellow .cavalry6  {background-image:url("../../images/units/1/cavalry_yellow.gif"); background-repeat: no-repeat;}
.yellow .cavalry7  {background-image:url("../../images/units/1/cavalry_yellow.gif"); background-repeat: no-repeat;}
.yellow .cavalry8  {background-image:url("../../images/units/1/cavalry_yellow.gif"); background-repeat: no-repeat;}
.yellow .cavalry9  {background-image:url("../../images/units/1/cavalry_yellow.gif"); background-repeat: no-repeat;}
.yellow .cannon    {background-image:url("../../images/units/1/cannon_yellow.gif"); background-repeat: no-repeat;}

/*backgrounds for the army counts*/

.army{
	position: absolute;
	padding:0 2px 0 2px;
    margin:0;
	top:25px;
	border: 1px solid black;
    color:black;
    z-index:4;
}

.unit_red    {background-color: #CC3300;}
.unit_black  {background-color: #888888;}
.unit_grey   {background-color: #CCCCCC;}
.unit_blue   {background-color: #6677FF;}
.unit_green  {background-color: #00CC33;}
.unit_teal   {background-color: #33CCCC;}
.unit_gold   {background-color: #FFCC00;}
.unit_yellow {background-color: #FFFF66;}
.unit_purple {background-color: #A962D7;}          
