/* CSS BASED LAYOUT */

div.spacer {
  clear: both;
  }

div.row {
  clear: both;
  }

div.row span.label {
  float: left;
  text-align: right;
  }

div.row span.formw {
  float: right;
  text-align: left;
  }

div.row span.small {
  color: #000;
  }

.move div{
	cursor: move;
}

/* SITE-WIDE LAYOUT */

A:link, A:visited, A:active {
	TEXT-DECORATION: none; COLOR: #7d0022;
}
A:hover {
	TEXT-DECORATION: underline;
}
p {
	FONT-FAMILY: Verdana, Arial, Sans-Serif; FONT-SIZE: 12px; COLOR: #000; BACKGROUND: transparent;
}
body {
	FONT-FAMILY: Verdana, Arial, Sans-Serif; FONT-SIZE: 12px; COLOR: #000; BACKGROUND: #F6FAFE; height: 100%; width: 100%; padding: 0; margin: 0;
}

#main { width: 990px; margin: 0 auto; padding: 0; position: relative; }
#footer { height: 80px; color: #FFFFFF; padding-top: 10px; text-align: center; width: 100%; clear: both; background-image: url(footer.jpg); background-position: top left; background-repeat: no-repeat; }
#footer A:link, A:visited, A:active { color: #FE8000; }
#footer span { position: relative; top: 20%; }
.pages { width: 943px; clear: both; background: #D0E0AE; padding: 4px; border: 1px solid #505050; }

#viewmain { float: left; width: 100%; margin-top: 1em; }
#content { float: left; position: relative; }
#sidemain { float: right; }
#login { float: right; width: 145px; height: 42px; position: absolute; right: 16px; top: 2px; }
#login .small { color: #FFF; }

/* BOARD HEADER */

#nav_top { height: 69px; text-align: center; background-image: url(nav_top.jpg); background-position: top left; }
#nav_bot { height: 39px; text-align: center; padding: .3em 0 0 0; background-image: url(nav_bot.jpg); background-position: top left; background-repeat: no-repeat; }

.inputError { border: 1px solid #FF0000; BACKGROUND: #FF6464; font-size: 8pt; FONT-FAMILY: Verdana; }

.inputOK { border: 1px solid #00CC00; COLOR: #000000; background: #A8BF60; font-size: 8pt; FONT-FAMILY: Verdana; }

.innerError { color: #FF0000; font-weight: bold; padding: 4px; }

#screen { position: absolute; top: 0px; left: 0px; width: 100%; display: none; background-color: #000000; filter: alpha(opacity=80); opacity: 0.8; }

#loading { position: absolute; z-index: 1; top: 0px; left: 0px; width: 225px; display: none; height: 60px; background-color: #FFFFB3; border: 4px solid #606060; font-weight: bold; font-size: 16px; color: #000000; padding: 6px; }

#digg { display: none; position: fixed; bottom: 0px; right: 0px; z-index: 1; }

#messagereply { clear: both; background: #FFFFDB; border: 1px solid #505050; }

/* FRONT PAGE LAYOUTS */

.boxheader { background: url(dash_top.jpg) no-repeat left top; text-align: center; height: 36px; margin: 0; padding: 12px; }
.boxheader .corner { background: url("station_02.jpg") no-repeat right top; height: 41px; padding-top: 17px; }
.boxheader .corner .headerfont { }
.station { background: url(dash_mid.jpg) repeat left top; }
.boxfooter { background: url(dash_bot.jpg) no-repeat left top; height: 24px; }
.content { margin: -15px 0 0 15px; padding: 4px; }
.station .content { width: 281px; margin: -20px 0 0 20px; padding: 4px; color: #000; }
.content .small { color: #000; }
.content .label { color: #000; }

.header { background: url(box_top.jpg) no-repeat left top; text-align: center; padding: 12px 0 0 15px; height: 36px; width: 992px; }
.headermid { background: url(box_mid.jpg) repeat left top; width: 992px; }
.headerbot { background: url(box_bot.jpg) no-repeat left top; height: 25px; width: 992px; }
.header .corner { background: url("header_corner.jpg") no-repeat right top; }

.board_cont { width: 664px; background-image: url(cat_mid.jpg); background-position: top left; background-repeat: repeat; }
.sidebar { width: 326px; }
#your_info { margin: 0 auto; background: url("station_03.jpg") no-repeat bottom left; }
#dash_reg { margin: 0 auto; background: url("station_03.jpg") no-repeat bottom left; }
#recent_msg { margin: 0 auto; background: url("station_03.jpg") no-repeat bottom left; }
#users_online { margin: 0 auto; background: url("station_03.jpg") no-repeat bottom left; }
#board_stats { margin: 0 auto; background: url("station_03.jpg") no-repeat bottom left; }

/* BOARD VIEW LAYOUTS */

.board_row     { clear: both; padding-top: 3px; }
.board         { width: 505px; float: left; padding: 4px; margin: 0 0 0 18px;; background: #FFFFDB; border: 1px solid #806400; }
.board_threads { width: 100px; float: left; padding: 4px; margin: 0 0 0 2px; text-align: center; vertical-align: middle; background: #FFFFDB; border: 1px solid #806400; }
.board_move    { width: 4px; float: left; cursor: move; margin: 0 0 0 2px; }

/* START THREAD LISTING CSS */

.thread_info     { width: 14px;  float: left; padding-top: .5%; BACKGROUND: #FFFFF5; border: 1px solid #505050; text-align: center; margin: 0 0 2px 0; }
.thread_subject  { width: 498px; float: left; padding: .25%; BACKGROUND: #FFFFF5; border: 1px solid #505050; margin-left: .2%; }
.thread_author   { width: 125px; float: left; padding: .25%; BACKGROUND: #FFFFF5; border: 1px solid #505050; margin-left: .2%; }
.thread_replies  { width: 65px;  float: left; padding: .25%; BACKGROUND: #FFFFF5; border: 1px solid #505050; margin-left: .2%; text-align: center; }
.thread_views  { width: 65px;  float: left; padding: .25%; BACKGROUND: #FFFFF5; border: 1px solid #505050; margin-left: .2%; text-align: center; }
.thread_lastpost { width: 122px; float: left; padding: .25%; BACKGROUND: #FFFFF5; border: 1px solid #505050; margin-left: .2%; }
.thread_float    { width: 14px;  float: left; padding-top: .5%; BACKGROUND: #FFFFF5; border: 1px solid #505050; margin-left: .2%; text-align: center; }

.float_info     { width: 14px;  float: left; padding-top: .5%; BACKGROUND: #FFFFA8; border: 1px solid #806400; text-align: center; margin: 0 0 2px 0; }
.float_subject  { width: 498px; float: left; padding: .25%; BACKGROUND: #FFFFA8; border: 1px solid #806400; margin-left: .2%; }
.float_author   { width: 125px; float: left; padding: .25%; BACKGROUND: #FFFFA8; border: 1px solid #806400; margin-left: .2%; }
.float_replies  { width: 65px;  float: left; padding: .25%; BACKGROUND: #FFFFA8; border: 1px solid #806400; margin-left: .2%; text-align: center; }
.float_views  { width: 65px;  float: left; padding: .25%; BACKGROUND: #FFFFA8; border: 1px solid #806400; margin-left: .2%; text-align: center; }
.float_lastpost { width: 122px; float: left; padding: .25%; BACKGROUND: #FFFFA8; border: 1px solid #806400; margin-left: .2%; }
.float_float    { width: 14px;  float: left; padding-top: .5%; BACKGROUND: #FFFFA8; border: 1px solid #806400; margin-left: .2%; text-align: center; }

.bookmark_info     { width: 14px;  float: left; padding-top: .5%; BACKGROUND: #606060; border: 1px solid #909090; text-align: center; margin: 0 0 2px 0; }
.bookmark_subject  { width: 498px; float: left; padding: .25%; BACKGROUND: #606060; border: 1px solid #909090; margin-left: .2%; }
.bookmark_author   { width: 125px; float: left; padding: .25%; BACKGROUND: #606060; border: 1px solid #909090; margin-left: .2%; }
.bookmark_replies  { width: 65px;  float: left; padding: .25%; BACKGROUND: #606060; border: 1px solid #909090; margin-left: .2%; text-align: center; }
.bookmark_views  { width: 65px;  float: left; padding: .25%; BACKGROUND: #606060; border: 1px solid #909090; margin-left: .2%; text-align: center; }
.bookmark_lastpost { width: 122px; float: left; padding: .25%; BACKGROUND: #606060; border: 1px solid #909090; margin-left: .2%; }
.bookmark_float    { width: 14px;  float: left; padding-top: .5%; BACKGROUND: #606060; border: 1px solid #909090; margin-left: .2%; text-align: center; }

/* END THREAD LISTING CSS */

.post_row { width: 970px; clear: both; }
.post_head_author  { float: left; margin: 0 0 2px 0; width: 20%; background: #D0E0AE; padding: 4px; border: 1px solid #505050; }
.post_head_subject { float: left; margin: 0 0 2px 2px; width: 77%; background: #D0E0AE; padding: 4px; border: 1px solid #505050; }
.post_info    { float: left; margin: -7px 0 -15px 20px; width: 175px; }
.post_main    { float: left; margin: -7px 0 -15px 15px; width: 755px; }
.post_options { margin-left: 25%; background: #202020; border: 1px solid #505050; padding: 4px; }
.post_reply   { background: #404040; border: 1px solid #505050; }
.post_date    { background: #303030; border: 1px solid #505050; border-top-width: 0; }
.post_sig     { background: #303030; border: 1px solid #505050; }
.post_username { font-family: Arial; font-size: 1.5em; }
.post_top { width: 990px; height: 30px; background: url(post_top.jpg) no-repeat left top; }
.post_mid { background: url(post_mid.jpg) repeat top left; }
.post_bot { width: 990px; height: 29px; background: url(post_bot.jpg) no-repeat left bottom; clear: both; }

/* PM WINDOW STYLES */

.im_mid { width: 616px; background: url(im_mid.jpg) repeat top left; }
.im_top { width: 616px; height: 35px; background: url(im_top.jpg) no-repeat top left; text-align: center; padding: 12px 0 0 15px;}
.im_bot { width: 616px; height: 23px; background: url(im_bot.jpg) no-repeat top left; }

/* TEXT/FONTS */

.headerfont {
	FONT-FAMILY: Arial; FONT-SIZE: 1.3em; FONT-WEIGHT: bold; COLOR: #ffffff;
}
#header_posts .headerfont {
	color: #000000;
}
.row3 .headerfont {
	color: #000000;
}
.headerfont2 {
	FONT-FAMILY: Verdana; FONT-SIZE: 9pt; FONT-WEIGHT: bold; COLOR: #FFFFFF;
}
.categoryfont {
	FONT-FAMILY: Arial; FONT-SIZE: 1.3em; FONT-WEIGHT: bold; COLOR: #FFFFFF; position: relative; top: 13px; left: 15px;
}
.mainlinkfont {
	FONT-FAMILY: Arial; FONT-SIZE: 1.5em; FONT-WEIGHT: bold; COLOR: #EE912E;
}
.navfont {
	FONT-FAMILY: Arial; FONT-SIZE: 1.2em; FONT-WEIGHT: bold; COLOR: #FFFFFF;
}
.navheader {
	FONT-FAMILY: Arial; FONT-SIZE: 3em; FONT-WEIGHT: bold; COLOR: #FFFFFF; position: relative; top: 20px;
}
.profilefont {
	FONT-FAMILY: Verdana, Arial, Sans-Serif; FONT-SIZE: 12px;
}
.small {
	FONT-FAMILY: Arial; FONT-SIZE: 0.9em;
}
.medium {
	font-family: Arial; font-size: 1.2em; font-weight: bold; color: #fff;
}
.large {
	FONT-FAMILY: Arial; FONT-SIZE: 1.3em;
}
.xlarge {
	font-family: Arial; font-weight: bold; font-size: 2em; color: #fff;
}
.boardfont {
	font-family: Arial; font-size: 1.2em; font-weight: bold; color: #000;
}
.subjectfont {
	FONT-FAMILY: Arial; FONT-SIZE: 1.1em;
}
.welcomefont {
	FONT-FAMILY: Verdana; FONT-SIZE: 1em; FONT-WEIGHT: bold; COLOR: #FFFFFF;
}
.mailfont {
	font-family: Arial; font-size: 1em; color: #FD9D36;
}
.adminfont {
	FONT-FAMILY: Arial; FONT-WEIGHT: bold; COLOR: #FF6464;
}
.errortext {
	font-weight: bold; color: #FF0000;
}
.membername {
	font-family: Arial; font-size: 1em; font-weight: bold;
}
.row1 .headerfont {
	color: #203F65;
}
.row3 .categoryfont {
	color: #203F65;
}

/* MAIN TABLES */

.main {
	border: 1px solid #505050; PADDING: 4px; BACKGROUND: #181818;
}
.alert {
	border: 2px solid #FF0000; BACKGROUND: #FF6464; PADDING: 4px;
}
.category {
	background: #000000; padding: 0 0 0 0; margin: 0; float: left; width: 664px; height: 36px; background-image: url(cat_top.jpg); background-position: top left; background-repeat: no-repeat;
}
.category_bot {
	background: #000000; padding: 0; margin: 0; float: left; width: 664px; height: 24px; background-image: url(cat_bot.jpg); background-position: top left; background-repeat: no-repeat;
}

/* OTHER */

.textbox {
	COLOR: #000000; background: #A8BF60; border: 1px inset #A8BF60; font-size: 8pt; FONT-FAMILY: Verdana;
}
.button {
	COLOR: #000000; BACKGROUND: #D0E0AF; FONT-FAMILY: Verdana; FONT-WEIGHT: bold; border: 2px solid #A8BF60;
}
.suggest {
	COLOR: #203F65; background: #FFFFDB; border: 0; font-size: 1em; FONT-FAMILY: Arial; font-weight: bold; padding: 2px;
}
.suggest_over {
	cursor: pointer; COLOR: #203F65; background: #D0E0AE; border: 0; font-size: 1em; FONT-FAMILY: Arial; font-weight: bold; padding: 2px;
}
.post_edit {
	position: absolute; width: 755px; background: #FF9999; Border: 1px solid #505050; padding: 1px; text-align: center;
}

/* (USED TO BE) TABLE CELLS */

.post {
	border: 1px solid #505050; BACKGROUND: #202020; BORDER-COLLAPSE: collapse;
}

.row1 {
	BACKGROUND: #FFFFDB; PADDING: 4px; border: 1px solid #505050;
}
.row2 {
	BACKGROUND: #D0E0AE; PADDING: 4px; border: 1px solid #505050;
}
.row3 {
	BACKGROUND: #D0E0AE; PADDING: 4px; border: 1px solid #505050;
}
.floatrow {
	BACKGROUND: #4A4A4A; PADDING: 4px;
}
.options {
	background: #404040; border: 1px solid #505050; padding: 4px;
}