/* default.css */
html {
	/*overflow: -moz-scrollbars-vertical;*/
}

/* body */
body { 
	/*behavior: url('catalog/javascript/png/iepngfix.htc'); */
	margin: 0px;
	padding: 0px;	

	background-color: #FFFFFF;

}

body, td, th, input, textarea, select, a {
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	font-size: 11px;
	color: #000000;
}
 
b, strong, th {
	color: #000000;
}

form {
	padding: 0;
	margin: 0;
	display: inline;
}

.png {
	/*behavior: url('catalog/javascript/png/iepngfix.htc');*/
}
  
a img {
	border: none;
}

a:hover {
	text-decoration: none;
}

/* layout */
h1 { 
	display: none;
}
 
#container {
	background: url('../image/backgroundblue.gif') top repeat-x;	
	width: 990px;
	position: relative;
	left: 50%;
	margin-left: -490px;
	background-color: #FFFFFF;
}

#header {
	height: 70px;
	clear: both;
	background-color: #6699FF;
}

#header .a {
	background: url('../image/opencart79.gif') no-repeat;
	/*behavior: url('catalog/javascript/png/iepngfix.htc');*/
	width: 450px;
	height: 59px;
	float: left;
	position: absolute;
	top: 10px;
	left: 1px;
}

#header .b {
	position: relative;
	top: 38px;
	float: right;
}

#header .b a {
	background: url('../image/tabupblue.jpg');
	/*behavior: url('catalog/javascript/png/iepngfix.htc');*/
	width: 100px;
	height: 26px;
	color: #FFFFFF; 
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 25px;
	float: left;
	display: block;
	margin-left: 2px;
	cursor: pointer;
}
#header .b a:hover{
	background: url('../image/tabdownblue.jpg');
}
#header .b a img {
	width: 14px;
	height: 8px;
}

#column {
	width: 200px;
	margin: 0px 0px 0px 0px;
	float: left;
	background-color: #FFFFFF;
	border-left: 2px solid #FFFFFF;
	min-height: 670px;
}

#content {
	position:relative;
	left: 0px;
	margin: 0px 0px 0px 0px;
	float: left;
	padding-left: 4px; 
	padding-right: 2px; 
	border-left: 2px solid #FFFFFF;
	border-right: 2px solid #FFFFFF;
	width: 581px;
	background-color: #FFFFFF;
	min-height: 520px;
}

#columnright {
	/*postition: relative;*/
	/*left: 1px; */
	width: 192px;
	/* border: 1px solid #999999;*/
	margin: 0px 0px 0px 0px;
	float: right;
	padding-left: 2px;
	background-color: #FFFFFF;
	border-right: 2px solid #FFFFFF;
	height: 100%;
}

#footer {
	clear: both;  
	border-top: 3px solid #CCCCCC;
	padding-top: 3px;
	margin-bottom: 1px;
	background-color: #FFFFFF;
	min-height: 30px;
}

#footer .a {
	float: left;
	margin-top: 2px;
	background-color: #FFFFFF;
	min-height: 30px;
}

#footer .b {
	font-size: 12px;
	font-weight: bold;
	float: right;
	text-align: right;
	background-color: #FFFFFF;
}

#footer .b a {
	color: #336699;
}
  
#time {
	color: #EEEEEE;
	text-align: center;
	clear: both;
}

.headingpadded {
	font-size: 14px;
	font-weight: 600;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #0000FF;
	padding-top: 10px;
	padding-bottom: 2px;
	border-bottom: 1px solid #999999;
	clear: both;
	margin-bottom: 10px;
	width: 100%;
	height: 18px;
}

.heading {
	font-size: 14px;
	font-weight: 600;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #000000;
	padding-bottom: 2px;
	border-bottom: 1px solid #999999;
	clear: both;
	margin-bottom: 10px;
	width: 100%;
	height: 18px;
}

.heading .left {
	float: left;
	text-align: left;
}
 
.heading .right {
	float: right;
	text-align: right;
	color: #000000;
}

.error {
	color: #FF0000;
	font-size: 10px;
	display: block;
	clear: both;
}

.required {
	margin: 0;
	color: #FF0000;
	display: inline;
}

.warning {
	color: #000000;
	font-size: 10px;  
	background-color: #FFB3B5;
	padding: 3px;
	display: block;
	margin-bottom: 10px;
}

.message {
	color: #000000;
	font-size: 10px;
	background-color: #99FF00;
	padding: 3px;
	display: block;
	margin-bottom: 10px;
}

.breadcrumb {
	color: #999999;
	margin: 10px 0px 10px 0px;
}

.breadcrumb a {
	color: #006699;
}

.price_old {
	text-decoration: line-through;
}

.price_new {
	color: #FF0000;
	font-size: 12px;
	text-align: left;
	padding-left: 50px;
	font-weight: bold;
}
 
#bar {
	background-color: #0000FF;
	border-top: 1px; /* solid #666666; */
	border-bottom: 1px;  /* solid #666666; */
	padding: 3px 3px 0px 10px;
	height: 27px;
}




.products, .images, .categories {
	float: left;
	width: 33.3%; 
	text-align: center; 
	cursor: pointer;
	border-bottom: 1px solid #666666;
	font-size: 10px; 
	min-height: 220px;/* Should set min height to allow some overflow */
        padding-bottom: 2px;
}

.featured {
	float: left;
	width: 33.3%;
	cursor: pointer;
	font-size: 10px;
	min-height: 200px;/* Should set min height to allow some overflow */
}        
.onhand{
	text-align: left;
	font-size: 11px;
	padding-left: 15px;
	color: #0000FF;
	font-weight: bold;
}
.categories a {
	text-decoration: none;
}

.images a {
	font-size: 10px;
}

.images img, .categories img {
	border: 0px;
	margin-bottom: 10px;
}

.results {
	clear: both;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 20px;
}

.results .left {
	float: left;
	padding-top: 4px;
}
 
.results .right {
	float: right;
} 
 
.buttons {
	border: 1px solid #EEEEEE;
	margin: 10px 0px;

	clear: both;
}

.buttons input {
	height: 20px;
	margin: 3px;
}

.buttons table {
	width: 100%;
}

.buttons table td {
	vertical-align: middle;
}

.box {
	padding-bottom: 5px;
	margin-bottom: 10px;
}

/* box language */
.language {
	float: left;
	margin-top: 3px;
}

.language div {
	display: inline;
}

/* box currency */
.currency {
	float: left;
	margin-left: 20px;
	margin-top: 1px;  
}

.currency div {
	display: inline;
}

/* box search */
.search {
	float: right;
}

.search div {
	display: inline;
}

/* box cart */
.box .cart .a {
	text-align: right;
	border-top: 1px solid #EEEEEE;
	margin-top: 8px;
	padding-top: 3px;
}

.box .cart .b {
	text-align: center;
}

/* box category */
.box .category {
	padding-top: 5px;
}

.box .category a {
	background: url('../image/bullet_1.png') no-repeat 15px 5px;
	padding: 0px 0px 0px 25px;
	display: block;
	text-decoration: none;
	margin-bottom: 8px;
}

/* box information */
.box .information a {
	background: url('../image/bullet_2.png') no-repeat 10px 4px;
	padding: 0px 0px 0px 25px;
	display: block;
	font-weight:bold;
	text-decoration: none;
}

/* box review */
.box .review div {
	text-align: center;
	background-color: #FFFFFF;
}

.box .review a {
	text-decoration: none;
}

.box .review img {
	padding: 3px;
}

/* success */
#success {
	/*behavior: url('catalog/javascript/png/iepngfix.htc');*/
	background: url('../image/success.png') no-repeat;
	padding-left: 148px;
	min-height: 128px;
}

/* failure */
#failure {
	/*behavior: url('catalog/javascript/png/iepngfix.htc');*/
	background: url('../image/failure.png') no-repeat;
	padding-left: 148px;
	min-height: 128px;  
}

/* error */
#error {
	clear: both;
	border: 1px solid #EEEEEE;
	margin: 0px 0px 10px 0px;
	padding: 8px;
	margin-top: 10px;
}

/* category description */
#category_description {
	clear: both;
	border: 1px solid #EEEEEE;
	margin: 10px 0px 10px 0px;
	padding-left: 8px;
    padding-right: 8px;
}