
#main1 {
	margin:0; padding:0;
	background:white;
}

#main2 {
	margin:0; padding:0;
	background:#CCCCCC;
}

#left {
	float:left;
	width:200px;
	margin:0; padding:0;
	background:#192614;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
}

#right {
	float:right;
	width:200px;
	margin:0; padding:0;
	background:#192614;
	font-size:80%;
}

#middle {
	margin:0 190px;
	background:#192614;
	font-size:100%;
}

.column-in {
	margin:0; padding:0.5em 1em;
}

.cleaner {
	clear:both;
	height:1px;
	font-size:1px;
	border:none;
	margin:0; padding:0;
	background:transparent;
}
		
h1,h2,h3,h4 { margin: 0.2em 0 }
p { margin: 0.5em 0 }
	
.copy { text-align:center; font-size:80% }

#gamechat {
	color: black;
    background: #192614;
    border:1px solid white;
}

#gameinfo{
	color: white;
	background-color:#192614;
	width:95%;
	font-size:11.5px;
	height:20px;
	text-align: center;
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 5px;
	border:1px solid white;

}

.ginfo {
	font-weight: bold;
	color: #FF6B51;
}


a {
	text-decoration:none;
}

/*Army Colors for Player Log*/
.red    {color: red;}
.black  {color: #888888;}
.grey   {color: #CCCCCC;}
.blue   {color: #6677FF;}
.green  {color: #00CC33;}
.teal   {color: #33CCCC;}
.gold   {color: #FFCC00;}
.yellow {color: #FFFF66;}
.purple {color: #A962D7;}  

/************************/
/****** Game Log  *******/
/************************/


#gamelog {
	margin-left:25px;
	margin-bottom:15px;
	width:780px;
	height:350px;
	overflow: auto;
	background-color:#3a3026;
	color:#ffffff;
	font-size: .9em;	
	border: 1px solid #666;
}

.gamelog th{
	border-bottom:1px solid white;
}

.gamelog td {
	padding:1px 3px 1px 3px;
  	white-space:nowrap;
  	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
}

.gamelog hr { 
	border:1px dashed white;
	color: black;
	width:740px;
}

/************************/
/* User Control Options */
/************************/

#status{
	color: white;
	background-color:#192614;
	width:100%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border:1px solid white;
}

#status a{
	color:red;
	font-weight:bold;
}

#usercontrols {
	color: white;
	background-color:#192614;
	border:1px solid white;
}

.user_note {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 9px;
	font-weight:bold;
	color: #FFFFFF;
}

/************************/
/***** Wating CSS *******/
/************************/

#waiting {
	margin: 0 auto;
	width: 90%;
	padding-top:5px;
	color: white;
}

#waiting th {
	border-bottom: 1px dotted #ffffff;
	
}

#waiting td {
	min-height: 10em;
    display: table-cell;
    vertical-align: middle;
    color:yellow;
    font-weight:bold;
}

/************************/
/***** User Options *****/
/************************/

#options {
	margin: 0 auto;
	width: 80%;
	padding-top:5px;
	text-align: center;
	color: white;
}

#options th {
	border-bottom: 1px dotted #ffffff;
	
}

#options td {
	min-height: 10em;
}

#options a {
	color: yellow;
	font-weight:bold;
	min-height: 10em;
}

#email_options {
	color: yellow;
	font-weight:bold;
	text-align: center;
}	

/************************/
/***** Cards CSS  *******/
/************************/

#cards {
	margin: 0 auto;
	width: 90%;
	text-align: left;
	color: black;
	background-color: #FCFCFC;
}

#cards img { 
	border:1px solid black; 
	background-color:#eee;
}

.cards td {
	text-align: left;
	color: black;
	background-color: white;
}

.cards_bg {
	background-color: transparent;
	color:black;
}


/************************/
/***** Players CSS  *****/
/************************/

#players {
	text-align:left;
	width:100%;
	color: white;
	overflow: auto;
	padding-bottom: 25px;
	background-color:#192614;
	border:1px solid white;
}


/************************/
/***** DICE CSS  ********/
/************************/

#dice_roll{
	width: 95%;
	margin: 0 auto;
	border:1px solid white;
}

.dice_roll table{
	margin: 0 auto;
}

.dice_roll_a { 
	width:30px;
   	height:30px;
   	background-color: red;
   	color: black;
   	border:1px solid black;
   	text-align:center;
   	vertical-align: middle;
   	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: medium;
	font-weight: bold;
}

.dice_roll_d { 
	width:30px;
   	height:30px;
   	background-color: #fff;
   	color:black;
   	border:1px solid black;
   	text-align:center;
   	vertical-align: middle;
   	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: medium;
	font-weight: bold;
}

.dice_roll th{
	color:white;
	width:100%;
	margin 0 auto;
	border-bottom: 3px solid white;
}

/**************************************************
******************* Buttons  **********************
**************************************************/

.button_grey, #login .button { 
	border: 1px solid black;
	text-decoration: none;
	background-color: #eee;
	color: black;
	margin-left:10px;
	padding: 3px 3px 1px 3px;
	margin-right:5px;
	font-size:1.0em; 
}
     
.button_red { 
	border: 1px solid black;
	text-decoration: none;
	color: black;
	background-color: #ff0000;
	padding: 3px 3px 1px 3px;
	margin-left: 25px;
	font-size:1.0em; 
}