/*---------- bubble tooltip -----------*/
a.tt{
    position:relative;
    z-index:24;
    color:#ff8c00;
	font-weight: bold;	
    text-decoration:none;
}
a.tt span{ display: none; }

/*background:; ie hack, something must be changed in a for ie to execute it*/
a.tt:hover{ z-index:25; color: #aaaaff; background:transparent;}

a.tt:hover span.tooltip{
    display:block;
    position:absolute;
    top:0px; left:0;
	padding: 15px 0 0 0;
	width:200px;
	color: #993300;
    text-align: center;
}

a.tt:hover span.top{
	display: block;
	padding: 30px 2px 0;
    background: url("./../images/misc/bubble.gif") no-repeat top;
}
a.tt:hover span.middle{ /* different middle bg for stretch */
	display: block;
	color: blue;
	font-weight: bold;
	padding: 0 2px; 
	background: url("./../images/misc/bubble_filler.gif") repeat bottom; 
}


a.tt:hover span.dead{ /* different middle bg for stretch */
	display: block;
	font-weight:bold;
	color: red;
	padding: 0 2px; 
}

a.tt:hover span.alive{ /* different middle bg for stretch */
	display: block;
	font-weight:bold;
	color: green;
	padding: 0 2px; 
}

a.tt:hover span.bottom{
	display: block;
	padding:3px 2px 10px;
	color: #548912;
    background: url("./../images/misc/bubble.gif") no-repeat bottom;
}