      .toolbar1 { border : 1px solid #666666; height : 26px; background-image : url(../icons/background_silver.jpg);}
     .toolbar2 { border : 1px solid #666666; height : 24px; background-image : url(../icons/background_silver.jpg); border-bottom-width : 0; border-top-width : 0;}
     .button { width : 20px; height : 20px; margin : 1px; padding : 0; background : transparent;}
     .buttonOver { width : 20px; height : 20px; border : 1px solid #999999; margin : 0; padding : 0;}
     .dropdown { background-color : #ffffff; border : 1px solid #333333; height : 140px; padding : 1px; color : #000;}
     button.mouseOver { background-color : #eeeeee; border : 1px solid #cccccc; padding : 3px; cursor : default; text-align : left;}
     button.mouseOut { background-color : #ffffff; border : 1px solid #ffffff; padding : 3px; cursor : default; text-align : left;}
     .on { background-color : #eeeeee; border : 1px solid #cccccc; padding : 6px; width : 140px; cursor : default; height : 5px;}
     .off { background-color : #ffffff; border : 1px solid #ffffff; padding : 6px; width : 140px; cursor : default; height : 5px;}
     .selectColorTable { border : 1px solid #7e7e81; background-color : #f7f7f7; padding : 1px;}
     .selectColorBorder { border : 1px solid #f7f7f7;}
     .selectColorOn { border : 1px solid #999999; background-color : #CCCCCC;}
     .selectColorOff { background-color : #f7f7f7;}
     .selectColorBox { border : 1px solid #ffffff; font-size : 1px; height : 13px; width : 13px;}
