.yellow .flag    {background-image:url("../images/flags/flag_yellow.gif");}


/*individual country positions*/
#flag_Baetica{
top: 295px;
left: 35px;
}

#flag_Lusitania{
top: 230px;
left: 35px;
}

#flag_Tarroconensis{
top: 205px;
left: 130px;
}

#flag_Hispania{
top: 165px;
left: 200px;
}

#flag_Galatia{
top: 150px;
left: 50px;
}

#flag_Cilicia{
top: 280px;
left: 115px;
}

#flag_Narbonensis{
top: 175px;
left: 300px;
}

#flag_Alpina{
top: 75px;
left: 440px;
}

#flag_Aquitania{
top: 90px;
left: 250px;
}

#flag_Britannia{
top: 10px;
left: 275px;
}

#flag_Belgica{
top: 35px;
left: 530px;
}

#flag_Germania{
top: 10px;
left: 440px;
}

#flag_Bithynia{
top: 45px;
left: 340px;
}

#flag_Cappadocia{
top: 110px;
left: 400px;
}

#flag_Judaea{
top: 120px;
left: 320px;
}

#flag_Sarmatia{
top: 80px;
left: 500px;
}

#flag_Romagna{
top: 70px;
left: 580px;
}

#flag_Tuscany{
top: 115px;
left: 575px;
}

#flag_Latium{
top: 125px;
left: 640px;
}

#flag_Abruzza{
top: 170px;
left: 625px;
}

#flag_Campaniz{
top: 195px;
left: 675px;
}

#flag_Molise{
top: 210px;
left: 720px;
}

#flag_Apulia{
top: 212px;
left: 770px;
}

#flag_Calabria{
top: 265px;
left: 740px;
}

#flag_Corsica{
top: 165px;
left: 525px;
}

#flag_Sicilia{
top: 315px;
left: 690px;
}

#flag_Raetia{
top: 120px;
left: 780px;
}

#flag_Noricum{
top: 10px;
left: 610px;
}

#flag_Pannonia{
top: 5px;
left: 725px;
}

#flag_Illyricum{
top: 50px;
left: 710px;
}

#flag_Macedonia{
top: 90px;
left: 735px;
}

#flag_Moesia{
top: 45px;
left: 780px;
}

#flag_Dacia{
top: 1px;
left: 675px;
}

#flag_Gallia{
top: 240px;
left: 345px;
}

#flag_Tingitana{
top: 220px;
left: 240px;
}

#flag_Caesariensis{
top: 280px;
left: 220px;
}

#flag_Cyprus{
top: 330px;
left: 160px;
}

#flag_Lycia{
top: 335px;
left: 95px;
}

#flag_Arabia{
top: 425px;
left: 95px;
}

#flag_Pamphylia{
top: 430px;
left: 175px;
}

#flag_Hibernia{
top: 415px;
left: 245px;
}

#flag_Africa{
top: 380px;
left: 310px;
}

#flag_Numidia{
top: 360px;
left: 380px;
}

#flag_Epirus{
top: 410px;
left: 415px;
}

#flag_Crete{
top: 460px;
left: 460px;
}

#flag_Cyrenaica{
top: 493px;
left: 575px;
}

#flag_Egyptus{
top: 400px;
left: 555px;
}

#flag_AsiaMinor{
top: 370px;
left: 445px;
}

#flag_Syria{
top: 365px;
left: 505px;
}

#flag_Pontus{
top: 405px;
left: 490px;
}

#flag_Thracia{
top: 455px;
left: 525px;
}

#flag_Mauretania{
top: 340px;
left: 550px;
}

#flag_Baleares{
top: 230px;
left: 522px;
}

#flag_Sardinia{
top: 305px;
left: 650px;
}