.black .flag    {background-image:url("../images/flags/flag_black.gif");}
.blue .flag    {background-image:url("../images/flags/flag_blue.gif");}
.gold .flag    {background-image:url("../images/flags/flag_gold.gif");}
.green .flag    {background-image:url("../images/flags/flag_green.gif");}
.grey .flag    {background-image:url("../images/flags/flag_grey.gif");}
.purple .flag    {background-image:url("../images/flags/flag_purple.gif");}
.red .flag    {background-image:url("../images/flags/flag_red.gif");}
.teal .flag    {background-image:url("../images/flags/flag_teal.gif");}
.yellow .flag    {background-image:url("../images/flags/flag_yellow.gif");}


/*individual country positions*/
#flag_1 {	
top: 120px;
left: 40px;
}
#flag_2{
top: 115px;
left: 130px;
}
#flag_3{	
top: 155px;
left: 115px;
}
#flag_4{
top: 95px;
left: 205px;
}
#flag_5{
top: 75px;
left: 305px;
}
#flag_6{
top: 155px;
left: 180px;
}
#flag_7{
top: 160px;
left: 235px;
}
#flag_8{
top: 203px;
left: 127px;
}
#flag_9{
top: 215px;
left: 180px;
}
#flag_10{
top: 260px;
left: 150px;
}
#flag_11{
top: 310px;
left: 165px;
}
#flag_12{
top: 375px;
left: 165px;
}
#flag_13{
top: 435px;
left: 185px;
}
#flag_14{
top: 355px;
left: 225px;
}
#flag_15{
top: 305px;
left: 328px;
}
#flag_16{
top: 385px;
left: 385px;
}
#flag_17{
top: 445px;
left: 380px;
}
#flag_18{
top: 442px;
left: 450px;
}
#flag_19{
top: 340px;
left: 415px;
}
#flag_20{
top: 285px;
left: 398px;
}
#flag_21{
top: 235px;
left: 327px;
}
#flag_22{
top: 227px;
left: 388px;
}
#flag_23{
top: 180px;
left: 330px;
}
#flag_24{
top: 188px;
left: 373px;
}
#flag_25{
top: 127px;
left: 327px;
}
#flag_26{
top: 118px;
left: 385px;
}
#flag_27{
top: 160px;
left: 445px;
}
#flag_28{
top: 267px;
left: 450px;
}
#flag_29{	
top: 225px;
left: 500px;
}
#flag_30{
top: 148px;
left: 520px;
}
#flag_31{
top: 130px;
left: 573px;
}
#flag_32{
top: 108px;
left: 655px;
}
#flag_33{
top: 167px;
left: 622px;
}
#flag_34{
top: 205px;
left: 645px;
}
#flag_35{
top: 220px;
left: 695px;
}
#flag_36{
top: 117px;
left: 735px;
}
#flag_37{
top: 238px;
left: 568px;
}
#flag_38{
top: 290px;
left: 525px;
}
#flag_39{
top: 300px;
left: 600px;
}
#flag_40{
top: 365px;
left: 620px;
}
#flag_41{
top: 375px;
left: 710px;
}
#flag_42{
top: 430px;
left: 615px;
}
#flag_43{
top: 440px;
left: 690px;
}
#flag_NewGuinea {
top: 375px;
left: 710px;
}
#flag_WesternAustralia {
top: 430px;
left: 615px;
}
#flag_EasternAustralia {
top: 420px;
left: 685px;
}
#flag_Indonesia {
top: 365px;
left: 620px;
}
#flag_Afghanistan {	
top: 225px;
left: 500px;
}
#flag_Alaska {	
top: 100px;
left: 55px;
}
#flag_Alberta{	
top: 155px;
left: 115px;
}
#flag_Argentina{
top: 435px;
left: 185px;
}
#flag_Brazil{
top: 355px;
left: 225px;
}
#flag_CentralAmerica{
top: 260px;
left: 150px;
}
#flag_China{
top: 238px;
left: 568px;
}
#flag_Congo{
top: 385px;
left: 385px;
}
#flag_EasternUS{
top: 215px;
left: 180px;
}
#flag_EastAfrica{
top: 340px;
left: 415px;
}
#flag_Egypt{
top: 285px;
left: 398px;
}
#flag_GreatBritain{
top: 180px;
left: 330px;
}
#flag_Greenland{
top: 75px;
left: 305px;
}
#flag_Iceland{
top: 127px;
left: 327px;
}
#flag_India{
top: 290px;
left: 525px;
}
#flag_Irkutsk{
top: 167px;
left: 622px;
}
#flag_Japan{
top: 220px;
left: 695px;
}
#flag_Kamchatka{
top: 117px;
left: 735px;
}
#flag_Madagascar{
top: 442px;
left: 450px;
}
#flag_MiddleEast{
top: 267px;
left: 450px;
}
#flag_Mongolia{
top: 205px;
left: 645px;
}
#flag_NorthAfrica{
top: 305px;
left: 328px;
}
#flag_NorthernEurope{
top: 188px;
left: 373px;
}
#flag_NWTerritory{
top: 115px;
left: 130px;
}
#flag_Oikiotoluk{
top: 95px;
left: 205px;
}
#flag_Ontario{
top: 155px;
left: 180px;
}
#flag_Peru{
top: 375px;
left: 165px;
}
#flag_Quebec{
top: 160px;
left: 235px;
}
#flag_Scandinavia{
top: 118px;
left: 385px;
}
#flag_Siam{
top: 300px;
left: 600px;
}
#flag_Siberia{
top: 130px;
left: 573px;
}
#flag_SouthernEurope{
top: 227px;
left: 388px;
}
#flag_SouthAfrica{
top: 445px;
left: 380px;
}
#flag_Ural{
top: 148px;
left: 520px;
}
#flag_Ukraine{
top: 160px;
left: 445px;
}
#flag_Venezuela{
top: 310px;
left: 165px;
}
#flag_WesternEurope{
top: 235px;
left: 327px;
}
#flag_WesternUS{
top: 203px;
left: 127px;
}
#flag_Yakutsk{
top: 108px;
left: 655px;
}