.black .flag    {background-image:url("../images/flags/flag_black.gif");}
.blue .flag    {background-image:url("../images/flags/flag_blue.gif");}
.gold .flag    {background-image:url("../images/flags/flag_gold.gif");}
.green .flag    {background-image:url("../images/flags/flag_green.gif");}
.grey .flag    {background-image:url("../images/flags/flag_grey.gif");}
.purple .flag    {background-image:url("../images/flags/flag_purple.gif");}
.red .flag    {background-image:url("../images/flags/flag_red.gif");}
.teal .flag    {background-image:url("../images/flags/flag_teal.gif");}
.yellow .flag    {background-image:url("../images/flags/flag_yello.gif");}

/*individual country positions*/
#flag_Morocco{
top: 295px;
left: 60px;
}

#flag_Algeria{
top: 270px;
left: 160px;
}

#flag_Mauratania{
top: 345px;
left: 75px;
}

#flag_Mali{
top: 375px;
left: 135px;
}

#flag_Guinea{
top: 420px;
left: 45px;
}

#flag_Ghana{
top: 430px;
left: 140px;
}

#flag_Tunisia{
top: 285px;
left: 235px;
}

#flag_Nigeria{
top: 460px;
left: 190px;
}

#flag_Niger{
top: 370px;
left: 220px;
}

#flag_Libya{
top: 305px;
left: 295px;
}

#flag_Chad{
top: 415px;
left: 275px;
}

#flag_Cameroon{
top: 460px;
left: 300px;
}

#flag_Congo{
top: 510px;
left: 240px;
}

#flag_Uganda{
top: 520px;
left: 310px;
}

#flag_Kenya{
top: 520px;
left: 415px;
}

#flag_Somalia{
top: 445px;
left: 495px;
}

#flag_Ethiopa{
top: 425px;
left: 425px;
}

#flag_Sudan{
top: 390px;
left: 350px;
}

#flag_Egypt{
top: 300px;
left: 355px;
}

#flag_SaudiArabia{
top: 215px;
left: 430px;
}

#flag_Turkey{
top: 140px;
left: 425px;
}

#flag_Iran{
top: 170px;
left: 510px;
}

#flag_Jordan{
top: 160px;
left: 590px;
}

#flag_Syria{
top: 220px;
left: 605px;
}

#flag_Pakistan{
top: 280px;
left: 635px;
}

#flag_India{
top: 320px;
left: 680px;
}

#flag_China{
top: 220px;
left: 740px;
}

#flag_Mongolia{
top: 145px;
left: 780px;
}

#flag_Kazakhstan{
top: 110px;
left: 680px;
}

#flag_Russia{
top: 20px;
left: 670px;
}

#flag_Latvia{
top: 45px;
left: 600px;
}

#flag_Ukraine{
top: 80px;
left: 530px;
}

#flag_Poland{
top: 90px;
left: 470px;
}

#flag_Estonia{
top: 30px;
left: 470px;
}

#flag_Finland{
top: 15px;
left: 330px;
}

#flag_Sweden{
top: 50px;
left: 245px;
}

#flag_Norway{
top: 60px;
left: 210px;
}

#flag_Austria{
top: 145px;
left: 360px;
}

#flag_Germany{
top: 130px;
left: 270px;
}

#flag_Serbia{
top: 165px;
left: 315px;
}

#flag_Greece{
top: 210px;
left: 295px;
}

#flag_Croatia{
top: 175px;
left: 255px;
}

#flag_Italy{
top: 215px;
left: 240px;
}

#flag_Portugal{
top: 215px;
left: 90px;
}

#flag_Spain{
top: 220px;
left: 125px;
}

#flag_France{
top: 145px;
left: 215px;
}

#flag_Belgium{
top: 100px;
left: 210px;
}

#flag_UK{
top: 105px;
left: 135px;
}

#flag_Iceland{
top: 25px;
left: 55px;
}

#flag_Greenland{
top: 0px;
left: 5px;
}