.black .flag    {background-image:url("../images/flags/flag_black.gif");}
.blue .flag    {background-image:url("../images/flags/flag_blue.gif");}
.gold .flag    {background-image:url("../images/flags/flag_gold.gif");}
.green .flag    {background-image:url("../images/flags/flag_green.gif");}
.grey .flag    {background-image:url("../images/flags/flag_grey.gif");}
.purple .flag    {background-image:url("../images/flags/flag_purple.gif");}
.red .flag    {background-image:url("../images/flags/flag_red.gif");}
.teal .flag    {background-image:url("../images/flags/flag_teal.gif");}
.yellow .flag    {background-image:url("../images/flags/flag_yellow.gif");}

/*individual country positions*/

/* GARNESIA (1) 1-8 */

#flag_Britannia{      /* 1 */
top: 20px;
left: 44px;
}
#flag_Lycia{         /* 2 */
top: 103px;
left: 22px;
}
#flag_Hispania{      /* 3 */
top: 160px;
left: 75px;
}
#flag_Galatia{      /* 4 */
top: 190px;
left: 220px;
}
#flag_Caesariensis{      /* 5 */
top: 330px;
left: 45px;
}
#flag_Tarroconesis{      /* 6 */
top: 280px;
left: 145px;
}
#flag_AsiaMinor{      /* 7 */
top: 240px;
left: 270px;
}
#flag_Gaul{         /* 8 */
top: 180px;
left: 340px;
}

/* HERADHEIM (2) 9-18 */

#flag_Germania{      /* 9 */
top: 4px;
left: 138px;
}
#flag_Alpina{      /* 10 */
top: 75px;
left: 65px;
}
#flag_Bithynia{      /* 11 */
top: 7px;
left: 250px;
}
#flag_Cappadocia{      /* 12 */
top: 70px;
left: 175px;
}
#flag_Judaea{      /* 13 */
top: 110px;
left: 125px;
}
#flag_Belgica{      /* 14 */
top: 30px;
left: 327px;
}
#flag_Sarinatia{      /* 15 */
top: 75px;
left: 280px;
}
#flag_Raetia{      /* 16 */
top: 125px;
left: 225px;
}
#flag_Thule{         /* 17 */
top: 111px;
left: 293px;
}
#flag_Crete{         /* 18 */
top: 130px;
left: 365px;
}

/* DARTEC (3) 19-26*/

#flag_Noricum{      /* 19 */
top: 0px;
left: 519px;
}
#flag_Illyricum{      /* 20 */
top: 30px;
left: 425px;
}
#flag_Moesia{      /* 21 */
top: 125px;
left: 430px;
}
#flag_Corsica{      /* 22 */
top: 185px;
left: 443px;
}
#flag_Dacia{         /* 23 */
top: 2px;
left: 625px;
}
#flag_Romagna{      /* 24 */
top:65px;
left: 548px;
}
#flag_Macedonia{      /* 25 */
top: 145px;
left: 520px;
}
#flag_Syria{         /* 26 */
top: 220px;
left: 500px;
}

/* Magretanion (4) 27-38 */

#flag_Pannonia{      /* 27 */
top: 2px;
left: 745px;
}
#flag_Apulia{      /* 28 */
top: 100px;
left: 625px;
}
#flag_Calabria{      /* 29 */
top: 123px;
left: 745px;
}
#flag_Gallia{      /* 30 */
top: 150px;
left: 575px;
}
#flag_Molise{      /* 31 */
top: 195px;
left: 645px;
}
#flag_Lusitania{      /* 32 */
top: 210px;
left: 708px;
}
#flag_Pontus{      /* 33 */
top: 220px;
left: 570px;
}
#flag_Mauretania{      /* 34 */
top: 295px;
left: 600px;
}
#flag_Sicilia{      /* 35 */
top: 295px;
left: 745px;
}
#flag_Sardinia{      /* 36 */
top: 360px;
left: 655px;
}
#flag_Hibernia{      /* 37 */
top: 410px;
left: 745px;
}
#flag_Tingitana{      /* 38 */
top: 490px;
left: 745px;
}

/* VENNIMAIR (5) 39-45 */

#flag_Aquatania{      /* 39 */
top: 260px;
left: 405px;
}
#flag_Narnonensis{      /* 40 */
top: 295px;
left: 485px;
}
#flag_Epirus{      /* 41 */
top: 325px;
left: 300px;
}
#flag_Baetica{      /* 42 */
top: 350px;
left: 225px;
}
#flag_Pamphylia{      /* 43 */
top: 425px;
left: 85px;
}
#flag_Cilicia{      /* 44 */
top: 520px;
left: 55px;
}
#flag_Cyprisia{      /* 45 */
top: 531px;
left: 170px;
}

/* Hiranmair (6) 46-49 */

#flag_Africia{      /* 46 */
top: 480px;
left: 480px;
}
#flag_Thracia{      /* 47 */
top: 531px;
left: 548px;
}
#flag_Egyptus{      /* 48 */
top: 490px;
left: 580px;
}
#flag_Arabia{      /* 49 */
top: 510px;
left: 640px;
}