.black .flag    {background-image:url("../images/flags/flag_black.gif");}
.blue .flag    {background-image:url("../images/flags/flag_blue.gif");}
.gold .flag    {background-image:url("../images/flags/flag_gold.gif");}
.green .flag    {background-image:url("../images/flags/flag_green.gif");}
.grey .flag    {background-image:url("../images/flags/flag_grey.gif");}
.purple .flag    {background-image:url("../images/flags/flag_purple.gif");}
.red .flag    {background-image:url("../images/flags/flag_red.gif");}
.teal .flag    {background-image:url("../images/flags/flag_teal.gif");}
.yellow .flag    {background-image:url("../images/flags/flag_yellow.gif");}
/*individual country positions*/

/* Uiropa */
#flag_Ukraine{			/* Uiropa 1 */
top: 115px;
left: 125px;
}
#flag_WesternEurope{	/* Uiropa 2 */
top: 160px;
left: 195px;
}
#flag_SouthernEurope{	/* Uiropa 3 */
top: 160px;
left: 245px;
}
#flag_NorthernEurope{	/* Uiropa 4 */
top: 115px;
left: 280px;
}
#flag_Iceland{			/* Uiropa 5 */
top: 168px;
left: 100px;
}
#flag_Scandinavia{		/* Uiropa 6 */
top: 215px;
left: 170px;
}
#flag_GreatBritain{		/* Uiropa 7 */
top: 187px;
left: 288px;
}

/* Ameroki */
#flag_NWTerritory{		/* Ameroki 1 */
top: 288px;
left: 75px;
}
#flag_WesternUS{		/* Ameroki 2 */
top: 335px;
left: 150px;
}
#flag_EasternUS{		/* Ameroki 3 */
top: 345px;
left: 235px;
}
#flag_Alberta{			/* Ameroki 4 */
top: 385px;
left: 110px;
}
#flag_CentralAmerica{	/* Ameroki 5 */
top: 420px;
left: 160px;
}
#flag_Alaska{			/* Ameroki 6 */
top: 410px;
left: 205px;
}
#flag_Greenland{			/* Ameroki 7 */
top: 475px;
left: 85px;
}
#flag_Ontario{			/* Ameroki  8*/
top: 450px;
left: 135px;
}
#flag_Quebec{			/* Ameroki  9*/
top: 495px;
left: 195px;
}

/* Azio */
#flag_Siberia{			/* Azio 1 */
top: 170px;
left: 405px;
}
#flag_Irkutsk{			/* Azio 2 */
top: 285px;
left: 335px;
}
#flag_Yakutsk{			/* Azio 3 */
top: 325px;
left: 290px;
}
#flag_Mongolia{			/* Azio 4  */
top: 392px;
left: 310px;
}
#flag_China{				/* Azio 5 */
top: 480px;
left: 360px;
}
#flag_MiddleEast{		/* Azio 6 */
top: 400px;
left: 400px;
}
#flag_Ural{				/* Azio 7 */
top: 510px;
left: 305px;
}
#flag_Siam{				/* Azio 8 */
top: 490px;
left: 410px;
}
#flag_Kamchatka{			/* Azio 9 */
top: 365px;
left: 490px;
}
#flag_Afghanistan{		/* Azio 10 */
top: 425px;
left: 515px;
}
#flag_India{				/* Azio 11 */
top: 276px;
left: 485px;
}
#flag_Japan{				/* Azio 12 */
top: 305px;
left: 580px;
}


/* Uistralia */
#flag_Indonesia{			/* Uistralia 1 */
top: 375px;
left: 730px;
}
#flag_NewGuinea{		/* Uistralia 2 */
top: 390px;
left: 665px;
}
#flag_WesternAustralia{	/* Uistralia 3 */
top: 445px;
left: 650px;
}
#flag_EasternAustralia{	/* Uistralia 4 */
top: 470px;
left: 730px;
}

/* Amberpolo */
#flag_Argentina{			/* Amberpolo 1 */
top: 30px;
left: 310px;
}
#flag_Venezuela{			/* Amberpolo 2 */
top: 15px;
left: 380px;
}
#flag_Peru{				/* Amberpolo 3 */
top: 10px;
left: 460px;
}
#flag_Brazil{			/* Amberpolo 4 */
top: 40px;
left: 510px;
}

/* Afroki */
#flag_SouthAfrica{		/* Afroki 1 */
top: 275px;
left: 690px;
}
#flag_Congo{				/* Afroki 2 */
top: 207px;
left: 650px;
}
#flag_Egypt{				/* Afroki 3*/
top: 105px;
left: 550px;
}
#flag_NorthAfrica{		/* Afroki 4 */
top: 170px;
left: 615px;
}
#flag_EastAfrica{		/* Afroki 5 */
top: 180px;
left: 705px;
}
#flag_Madagascar{		/* Afroki 6 */
top: 105px;
left: 725px;
}
