.black .flag    {background-image:url("../images/flags/flag_black.gif");}
.blue .flag    {background-image:url("../images/flags/flag_blue.gif");}
.gold .flag    {background-image:url("../images/flags/flag_gold.gif");}
.green .flag    {background-image:url("../images/flags/flag_green.gif");}
.grey .flag    {background-image:url("../images/flags/flag_grey.gif");}
.purple .flag    {background-image:url("../images/flags/flag_purple.gif");}
.red .flag    {background-image:url("../images/flags/flag_red.gif");}
.teal .flag    {background-image:url("../images/flags/flag_teal.gif");}
.yellow .flag    {background-image:url("../images/flags/flag_yellow.gif");}

/*individual country positions*/

#flag_Oricalcos{
top: 515px;
left: 35px;
}

#flag_Poseidonis{
top: 460px;
left: 5px;
}

#flag_Tritonis{
top: 370px;
left: 8px;
}

#flag_Hesperide{
top: 315px;
left: 20px;
}

#flag_Iberia{
top: 440px;
left: 160px;
}

#flag_Gaul{
top: 335px;
left: 205px;
}

#flag_Anglia{
top: 215px;
left: 160px;
}

#flag_Hibernia{
top: 205px;
left: 80px;
}

#flag_Caledonia{
top: 135px;
left: 120px;
}

#flag_Alemannia{
top: 190px;
left: 275px;
}

#flag_Thule{
top: 95px;
left: 255px;
}

#flag_Galicia{
top: 95px;
left: 395px;
}

#flag_Varangia{
top: 5px;
left: 375px;
}

#flag_Scythia{
top: 145px;
left: 505px;
}

#flag_Rus{
top: 10px;
left: 525px;
}

#flag_Cimmeria{
top: 95px;
left: 600px;
}

#flag_Sarmatia{
top: 15px;
left: 745px;
}

#flag_Dacia{
top: 220px;
left: 405px;
}

#flag_Dalmatia{
top: 255px;
left: 345px;
}

#flag_Liguria{
top: 295px;
left: 295px;
}

#flag_Roma{
top: 325px;
left: 335px;
}

#flag_Corsica{
top: 375px;
left: 295px;
}

#flag_Apulia{
top: 355px;
left: 400px;
}

#flag_Sicilia{
top: 415px;
left: 395px;
}

#flag_Thracia{
top: 250px;
left: 460px;
}

#flag_Graecia{
top: 335px;
left: 450px;
}

#flag_Minoa{
top: 385px;
left: 520px;
}

#flag_Ionia{
top: 260px;
left: 565px;
}

#flag_Anatolia{
top: 195px;
left: 645px;
}

#flag_Parthia{
top: 190px;
left: 775px;
}

#flag_Assyria{
top: 260px;
left: 735px;
}

#flag_Phoenicia{
top: 330px;
left: 645px;
}

#flag_Sumer{
top: 290px;
left: 785px;
}

#flag_Bablyon{
top: 360px;
left: 725px;
}

#flag_Sheba{
top: 420px;
left: 720px;
}

#flag_Atlas{
top: 515px;
left: 185px;
}

#flag_Carthage{
top: 455px;
left: 325px;
}

#flag_Gaitulia{
top: 520px;
left: 285px;
}

#flag_Cyrenaica{
top: 480px;
left: 515px;
}

#flag_Nubia{
top: 520px;
left: 435px;
}

#flag_Egypt{
top: 470px;
left: 600px;
}

#flag_Kush{
top: 500px;
left: 690px;
}

